@use "../base/variables" as v;
@use "../base/mixins" as m;

.about {
  height: calc(100vh - 10rem);

  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__image {
    background-image: url("src/assets/images/foto.svg");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    text-align: center;
    height: 50vh;

    @include m.tablet {
      height: unset;
      /*  border-radius: 0 10rem 0 0; */
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    color: #14beaf;
    font-size: 3.5rem;

    @include m.tablet {
      font-size: 3.5rem;
    }

    @include m.desktop {
      font-size: 7rem;
    }
  }
  &__title--orange {
    color: #ffa500;
  }
  &__paragraph {
    margin-top: 2rem;
    color: #666666;
  }
  &__paragraph--bold {
    color: #494949;

    font-weight: bold;
  }

  &__btn__btn {
    display: block;
    margin-top: 1rem;
    background-color: #ffa500;
    padding: 0.7rem 2.5rem;
    border-radius: 3rem;
    color: white;

    @include m.tablet {
      display: inline-block;
    }
  }

  &__btn__btn--blue {
    background-color: #14beaf;
  }
}
