@use "../base/variables" as v;
@use "../base/mixins" as m;


.download {
  min-height: calc(100vh - 10rem);

  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  &__image {
    background-image: url("/images/foto1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    height: 50vh; 
    @include m.tablet {
      height: unset;
      border-radius: 0 10rem 0 0;
    }
  }

  &__title {
    color: white; 
    font-size: 3rem;

    @include m.desktop {
      font-size: 8rem;
    }
    
    &--span {
      display: inline-block;
      &::after {
        content: '';
        background-color: #ffa500;
        height: 0.5rem;
        width: 100%;
        display: block;
        margin-top: -1rem;

        @include m.tablet {
          margin-top: -2rem;
          height: 1rem;
        } 

        @include m.desktop {
          margin-top: -3rem;
          height: 2rem;
        } 
      }
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__subtitle {
    font-size: 3rem;
    color: #363535;
    margin-bottom: 1rem;
  }

  &__paragraph {
    font-weight: 500;
    color: #666666;
    font-size: 2rem;
    @include m.desktop {
      font-size: 3rem;
    }
  }

  &__button {
    width: 15rem;

    @include m.desktop {
      width: 20rem;
    }

    &:first-of-type {
      margin-top: 2rem;

      @include m.desktop {
        margin-top: 5rem;
      }
    }
  }

}