@use "../base/variables" as v;
@use "../base/mixins" as m;

.home {
  height: calc(100vh - 10rem);

  &__image-container {
    background-color: #492705;
    z-index: 100;
    display: flex;
    align-items: center;
    text-align: center;
  }
  &__title--container h1 {
    font-size: 8rem;
    color: white;
  }

  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__btns {
    display: flex;
    flex-direction: column;
  }
  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  
}
/* 
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  &__title {
    color: #363535;
  }
  &__paragraph {
    color: #363535;
    font-size: 3rem;
    text-align: center;
  }
}
.btn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__btn {
    background-color: black;
    color: white;
    padding: 0.2rem 1.5rem;
    border-radius: 0.3rem;
  }
}
 */