@use "../base/variables" as v;

.navbar {
  width: 100%;
  box-shadow: 0 0.4rem 0.4rem #e9e4e4;
  position: fixed;
  background: white;
  z-index: 100;
  top: 0;
}

.nav {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  height: 10rem;
  
}
.nav__logo {
 width: 10rem;
}
.nav__items {
  display: flex;
  line-height: 10rem;
  flex-direction: row;
  display: flex;
  gap: 2rem;
}

.nav__item {
  list-style: none;
}

.nav__navegation {
  text-decoration: none;
  color: #000;
}




.nav__navegation--modifier{
  color: #fff;
  font-weight: 800;
  border: 1px solid #14beaf;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  background-color: #14beaf;
}



// HOla 

.Hola{
  margin-top: 11rem;
}