@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
  width: 100%;
  position: fixed;
  background: white;
  z-index: 100;
  top: 0;

  @include m.tablet {
    box-shadow: 0 0.4rem 0.4rem #e9e4e4;
  }
}

.nav {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;

  &__logo {
    width: 11rem;
    margin: auto 0;
  }
  &__links, &__auth {
    display: none;
    @include m.desktop {
      display: block;
    }
  }

  &__items {
    display: flex;
    line-height: 10rem;
    flex-direction: row;
    gap: 2rem;
  }

  &__link {
    &--active {
      color: red;
    }
    &--register {
      color: #fff;
      font-weight: 800;
      border-radius: 3rem;
      padding: 0.5rem 1.5rem;
      background-color: #14beaf;
    }
  } 

  &__toogle {
    display: block;
    @include m.desktop {
      display: none;
    }
  }

  &__hamburger {
    font-size: 3rem;
    color: #ffa500;
  }
}
