@use "../base/variables" as v;
@use "../base/mixins" as m;

.partners {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 10rem);

    &__container {
        width: 90%;
        margin: 0 auto;
        padding: 2rem 0;

        @include m.desktop {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__content {
        @include m.desktop {
            width: 65%;
        }
    }

    &__title {
        color: #14beaf;
        font-size: 4.5rem;
        text-align: center;

        @include m.desktop {
            font-size: 5.5rem;
            text-align: left;

            &--span {
                display: inline-block;

                &::after {
                    content: '';
                    background-color: #FF9900;
                    height: 0.5rem;
                    width: 100%;
                    display: block;
                    margin-top: -1.2rem;

                    @include m.tablet {
                        margin-top: -2rem;
                        height: 1rem;
                    }

                    @include m.desktop {
                        margin-top: -2rem;
                        height: 1.5rem;
                    }
                }
            }
        }

        @include m.desktop {
            font-size: 6rem;
        }


    }

    &__description {
        font-size: 1.7rem;
        font-weight: 300;
        color: #757575;
        line-height: 2;
        text-align: center;

        @include m.desktop {
            text-align: left;
        }
    }

    &__companies {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @include m.desktop {
            width: 30%;
        }
    }

    &__logo {
        width: 45%;
        margin: 3rem auto ;

        @include m.desktop {
            width: 100%;
        }
    }

    &__link {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button {
        width: 80%;
        text-align: center;
        padding: .8rem;
        border-radius: 2rem;
        font-weight: 700;
        transition: background-color 1s ease-in-out;
        border: 1px solid transparent;
        &--orange {
            background-color: #FF9900;
            color: white;

            &:hover{
                background-color: white;
                color: #FF9900;
                border: 1px solid #FF9900;
            }
        }

        &--white {
            background-color: white;
            color: #FF9900;
            border: 1px solid #FF9900;

            &:hover{
                background-color: #FF9900;
                color: white;
            }
        }

        &:last-of-type {
            margin-top: 2rem;
        }
    }
}