@use "../base/variables" as v;
@use "../base/mixins" as m;



.register {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  padding-bottom: 2rem;
  border-radius: 2rem;

  @include m.tablet {
    width: 80%;
  }

  &__head {
    background-image: url("/images/foto_formulario-general.png");
    background-position: center right ;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    @include m.tablet {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      align-items: center;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    color: white;
    font-size: 3rem;

    @include m.tablet{
      font-size: 2rem;
    }
  }
  &__logo {
    width: 7rem;
    position: absolute;
    right: 2rem;
    display: none;

    @include m.tablet{
      display: block;
    }
  }
  &__body {
    width: 100%;
    padding:0 4rem;
    &__title {
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-align: center;
      color: rgb(53, 53, 53);
      font-size: 2rem;
    }
    &__title--orange {
      color: #ffa500;
    }
    &__title--blue {
      color: #38d2c4;
    }
  }
  &__btn {
    color: white;
    background-color: #ffa500;
    display: block;
    margin: 0 auto;
    font-weight: 700;
    margin: 2rem auto;
    border: none;
    padding: 1rem;
    border-radius: 1.1rem;
  }
}

.form__icons--orange {
  color: #ffa500;
}
.form__icons--blue {
  color: #38d2c4;
}


.tyc {
  font-size: 1.5rem;
  color: #757575;
}