@use "../base/variables" as v;
@use "../base/mixins" as m;

.about {
  min-height: calc(100vh - 10rem);
  @include m.desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__image {
    background-image: url("/images/yellow-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: none;
    align-items: center;
    text-align: center;
    height: 50vh;

    @include m.desktop {
      height: unset;
      display: block;
      border-radius: 10rem 0 0 0;
    }
  }

  &__content {
    display: flex;
    height: calc(100vh - 10rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 0 3rem;

  }

  &__title {
    color: #14beaf;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.1;

    @include m.tablet {
      font-size: 5.5rem;
    }

    @include m.desktop {
      font-size: 5.5rem;
    }
  }

  &__title--orange {
    color: #ffa500;
  }
  &__paragraph {
    font-size: 1.3rem;
    margin-top: 2rem;
    font-weight: 300;
    line-height: 2;
    color: #666666;
    text-align: left;

    &--bold{
      color: #494949;
      font-weight: bold;
    }
    @include m.tablet {
      font-size: 1.5rem;
    }
  }
  

  &__btn {
    display: flex;
    width: 100%;
    justify-content: start;
    flex-direction: column;
    margin-top: 4rem;

    @include m.tablet {
      flex-direction: row;
      margin-top: 2rem;
    }
  }

  &__btn__btn {
    width: 80%;
    margin: 0 auto;
    background-color: #ffa500;
    padding: 0.7rem 1rem;
    border-radius: 3rem;
    color: white;
    text-align: center;


    @include m.tablet {
      padding: 0.7rem 2.5rem;
      display: inline-block;
      margin-right: 1.5rem;
      width: unset;
    }

    &:last-of-type {
      margin-top: 1rem;
      @include m.tablet {
        margin-top: 0;
      }
    }

  }

  &__btn__btn--blue {
    background-color: #14beaf;
  }
}
