@use "../base/variables" as v;
@use "../base/mixins" as m;


.download {
  min-height: calc(100vh - 10rem);
  margin-bottom: 5rem;

  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__image {
    background-image: url("/images/foto1.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    height: 50vh;

    @include m.tablet {
      height: unset;
      border-radius: 0 10rem 10rem 0;
    }
  }

  &__title {
    color: white;
    font-size: 3rem;

    @include m.desktop {
      font-size: 8rem;
    }

    &--span {
      display: inline-block;

      &::after {
        content: '';
        background-color: #ffa500;
        height: 0.5rem;
        width: 100%;
        display: block;
        margin-top: -1rem;

        @include m.tablet {
          margin-top: -2rem;
          height: 1rem;
        }

        @include m.desktop {
          margin-top: -3rem;
          height: 2rem;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;

    @include m.desktop {
      margin-top: 2rem;
      font-size: 6rem;
      text-align: start;
      padding: 0rem;

    }
  }

  &__subtitle {
    font-size: 4rem;
    color: v.$blue;
    font-weight: bold;
    margin-bottom: 1rem;

    @include m.desktop {
      font-size: 6rem;
    }
  }

  &__paragraph {
    font-weight: 300;
    color: v.$blue;
    font-size: 4rem;

    @include m.desktop {
      font-size: 6rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include m.desktop {
      flex-direction: row;
    }
  }

  &__button {
    width: 15rem;

    @include m.desktop {
      width: 20rem;
    }
  }

}