@use "../base/variables" as v;
@use "../base/mixins" as m;


.figures {
    width: 100%;
    padding: 2rem 0;
    background-image: url("/images/figures.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    &__container {
        width: 90%;
        margin: 0 auto;
        @include m.desktop {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }

    &__info {
        width: 100%;
        padding: 2rem 3rem;
        
        @include m.desktop {
            width: 33%;

            &--border{
                border-right: 1px dotted white;
                border-left: 1px dotted white;
            }
        }

       

    }

    &__icon {
        width: 5rem;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    &__text {
        color: white;
        font-size: 2.5rem;
        font-weight: 300;
        text-align: center;
        line-height: 1.5;

        @include m.desktop {
            font-size: 2.9rem;
        }
        
        &:not(:first-child){
            padding-bottom: 3rem;
            border-bottom: .1rem dotted white;

            @include m.desktop {
                border-bottom: unset;
                padding-bottom: 0;
            }
        }

    }
    &__span {
        font-weight: 700;
        &--orange{
            color:  #ffa500;
        }
        &--blue {   
            color:  #14beaf;
        }
    }
}
