@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
  width: 100%;
  position: fixed;
  background: white;
  z-index: 100;
  top: 0;
  box-shadow: 0 0.1rem 0.4rem #e9e4e4;  
}

.header--anim {
  transition: height 0.3s ease-in-out;
}

.nav {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  z-index: 100;

  &--hidden {
    width: 100%;
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    @include m.desktop {
      display: none;
    }

  }
  &__logo {
    width: 11rem;
    margin: auto 0;
  }
  &__links, &__auth {
    display: none;
    @include m.desktop {
      display: block;
    }
  }
  &__links {
    &--hidden {
      @include m.desktop {
        display: none;
      }
    }
  }

  &__items {
    display: flex;
    line-height: 10rem;
    flex-direction: row;
    gap: 2rem;

    &--hidden {
      text-align: center;
    }
  }

  &__link {
    font-weight: 300;
    color: #707070;
    &--hidden {
      margin-right: 1rem;
      font-weight: 300;
      color: #707070;
    }
    &--active {
      position: relative;
      &::after {
        content: '';
        background-color: #ffa500;
        height: 0.2rem;
        width: 50%;
        display: block;
        position: absolute;
        bottom:  -1rem;
        left: 0;
        right: 0;
        margin: auto;
      }

      &--hidden{
        color: #ffa500;
      }
    }
    &--register {
      color: #fff;
      font-weight: 800;
      border-radius: 3rem;
      padding: 0.5rem 1.5rem;
      background-color: #14beaf;
    }
  } 

  &__item--hidden {
    margin-top: 1rem;
  }
  &__toogle {
    display: block;
    @include m.desktop {
      display: none;
    }
  }

  &__hamburger {
    font-size: 3rem;
    color: #14beaf;
  }
}
.auth--hidden {
  display: flex;
  padding-top: 2rem;
}