@use "../base/variables" as v;
@use "../base/mixins" as m;


.sidebarPartner {
    position: fixed;
    background-color: #1FBAAC;
    color: #fff;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    width: 70%;
    transition: transform 0.3s ease;
    transform: translateX(-100%);

    @include m.desktop {
        width: 20%;
        transform: translateX(0);
    }

    &--show {
        transform: translateX(0);
    }

    &__hamburguer {
        position: absolute;
        top: 3rem;
        right: 2rem;
        color: #fff;
        font-weight: 700;
        color: #000;
        font-size: 2.5rem;
        cursor: pointer;

        @include m.desktop {
            display: none;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        padding: 2rem;
        background-color: #1B978D;
        display: flex;

        img {
            max-height: 5rem;
            max-width: 5rem;
            margin-right: 1rem;
        }
    }

    &__greeting {
        font-size: 2rem;
        font-weight: 300;

        &--span {
            font-weight: 500;
            display: block;
        }
    }

    &__links {
        padding: 2rem 3rem;
        margin: 0;

        li {
            a {
                display: flex;
                align-items: center;
                padding: 1rem 0;
                font-size: 1.5rem;
                color: #fff;
                font-weight: 500;
                transition: background-color 0.3s ease;
            }

            .toggle-submenu {
                display: block;
                padding: 1rem 2rem;
                color: #fff;
                background-color: transparent;
                border: none;
                cursor: pointer;
                text-align: left;
                transition: background-color 0.3s ease;
            }
        }
    }

    &__submenu {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            a {
                display: block;
                padding: .5rem 2rem;
                color: #fff;
                text-decoration: none;
                transition: background-color 0.3s ease;
                font-weight: 300;
                font-size: 1.4rem;
            }
        }
    }

    &__icon {
        margin-right: 1rem;
        font-size: 2rem;
    }

    &__btns {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 2rem;
    }

    &__btn {
        width: 70%;
        margin: 0 auto;
        padding: .8rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: #fff;
        border: none;
        border-radius: 2rem;

        &:last-of-type {
            margin-top: 2rem;
        }

        &--support {
            background-color: transparent;
            border: 1px solid white;
            cursor: pointer;

            .link{
                color: #fff;
            }
        }

        &--logout {
            background-color: #1B978D;
            border: 1px solid transparent;
        }
    }
}